<%- include('blocks/header') -%>

    <main>
        <div>
            <h2>
                <%= title %>
            </h2>
            <form action="/check-user-reg" method="post">
                <input type="text" value="<%= user.login ? user.login : '' %>" name="login" placeholder="Введите логин">
                <input type="text" value="<%= user.name ? user.name : '' %>" name="name" placeholder="Введите имя">
                <input type="email" value="<%= user.email ? user.email : '' %>" name="email"
                    placeholder="Введите email">
                <input type="password" name="password" placeholder="Введите пароль">
                <% if(error !='' ) { %>
                    <div style="color: red; font-size: 12px;">
                        <%= error %>
                    </div>
                    <% } %>
                        <button type="submit">Регистрация</button>
            </form>
        </div>
        <div>
            <h2>
                Форма авторизации
            </h2>
            <form action="/check-user-auth" method="post">
                <input type="text" name="login" placeholder="Введите логин">
                <input type="password" name="password" placeholder="Введите пароль">
                <% if(errorAuth !='' ) { %>
                    <div style="color: red; font-size: 12px;">
                        <%= errorAuth %>
                    </div>
                    <% } %>
                        <button type="submit">Авторизация</button>
            </form>
        </div>
    </main>

    <%- include('blocks/footer') -%>